<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <ConsoleService.Properties.Settings>
            <setting name="ConsoleService_localhost1_WebService" serializeAs="String">
                <value>http://localhost:1393/WebSite/WebService.asmx</value>
            </setting>
            <setting name="ConsoleService_localhost_WebService" serializeAs="String">
                <value>http://localhost/WebService.asmx</value>
            </setting>
        </ConsoleService.Properties.Settings>
    </applicationSettings>
  <appSettings>
    <add key="hour" value="07:10" />
    <add key="hourStatus" value="08:20" />
  </appSettings>
</configuration>